*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #bd081c;
}

.Navbar {
  position: relative;
  position: fixed;
  height: 65px;
  background: white;
  opacity: 1;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eeeeee;
  padding: 0 20px;
}

.Navbar::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.Navbar > * {
  vertical-align: middle;
  display: inline-block;
}

.Navbar .fa-google-plus-official {
  color: #bd081c;
  font-size: 32px;
  margin-right: 20px;
}

.Navbar .Navbar_searchbar {
  height: 40px;
  width: calc(100% - 48px);
  background: #efefef;
  border-color: #efefef;
  padding-left: 10px;
}

.Navbar .Navbar_searchbar input {
  font-size: 16px;
  padding-top: 0px;
  margin-top: 10px;
  width: 100%;
  background: #efefef;
  font-weight: bold;
  color: #555555;
}

.Navbar .Navbar_searchbar ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #555555;
}

.Navbar .Navbar_searchbar ::-moz-placeholder {
  /* Firefox 19+ */
  color: #555555;
}

.Navbar .Navbar_searchbar :-ms-input-placeholder {
  /* IE 10+ */
  color: #555555;
}

.Navbar .Navbar_searchbar :-moz-placeholder {
  /* Firefox 18- */
  color: #555555;
}

@-webkit-keyframes tapAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes tapAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.Pin {
  width: 100%;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  break-inside: avoid;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 40px;
  opacity: 1;
  box-sizing: border-box;
  cursor: zoom-in;
}

.Pin::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.Pin:hover::before {
  background: rgba(0, 0, 0, 0.05);
  -webkit-animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
  animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
}

.Pin img {
  width: 100%;
  border-radius: 8px;
}

.Pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
  width: 96%;
  margin-left: 2%;
  word-break: break-wrod;
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,arial,sans-serif;
  font-weight: bold;
  color: #555555;
}

.Pin .img-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.Pin .img-wrapper::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc( 100% - 4px);
  position: absolute;
  display: block;
  background: transparent;
  border-radius: 8px;
}

.Pin .img-wrapper:hover::before {
  background: rgba(0, 0, 0, 0.1);
}

.SearchBar {
  display: inline-block;
  border: 1px solid #3b5998;
  border-radius: 3px;
  box-sizing: border-box;
  height: 26px;
  padding-left: 7px;
  padding-right: 48px;
  background: white;
  position: relative;
}

.SearchBar button {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: #f6f7f9;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  text-align: center;
  color: #4b4f56;
  padding: 0 16px;
}

.SearchBar button::before {
  content: '';
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.SearchBar button i {
  font-size: 16px;
}

.SearchBar button:hover {
  background: #e9ebee;
}

.SearchBar input {
  box-sizing: border-box;
  border: none;
  text-shadow: none;
  outline: 1px solid transparent;
  font-size: 15px;
  text-overflow: ellipsis;
  padding: 3px 0 0;
  line-height: 18px;
  width: 391px;
}

.Slide {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  background: rgba(0, 0, 0, 0.5);
}

.Slide .content-wrapper {
  height: 100%;
  position: relative;
  width: calc(100% - 190px);
  margin: 0 auto;
}

.Slide .main-content {
  position: relative;
  height: calc(100% - 50px - 5px);
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.Slide .main-content::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.Slide .main-content > * {
  vertical-align: middle;
  display: inline-block;
}

.Slide .main-content img {
  max-width: 100%;
  max-height: 100%;
}

.Slide .main-content .loading-img {
  display: none;
}

.Slide .main-content.loading > img:not(.loading-img) {
  display: none;
}

.Slide .main-content.loading .loading-img {
  display: inline;
}

.Slide .footer-content {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 20px;
  width: 100%;
  margin: 5px auto 0;
  height: 50px;
  background: black;
  color: white;
  text-align: center;
}

.Slide .footer-content::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.Slide .footer-content > * {
  vertical-align: middle;
  display: inline-block;
}

.Slide .left-button {
  position: absolute;
  background: url(https://i2.bahamut.com.tw/vimg_l2.gif) no-repeat center center;
  opacity: 0.5;
  cursor: pointer;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
}

.Slide .left-button:hover {
  opacity: 1;
}

.Slide .right-button {
  position: absolute;
  background: url(https://i2.bahamut.com.tw/vimg_r2.gif) no-repeat center center;
  opacity: 0.5;
  cursor: pointer;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
}

.Slide .right-button:hover {
  opacity: 1;
}

.Slide .close-button {
  position: absolute;
  background: url(https://i2.bahamut.com.tw/vimg_x.gif) no-repeat center center;
  opacity: 0.5;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
}

.Slide .close-button:hover {
  opacity: 1;
}

.SlideInner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 105px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.8s ease 1s;
  -moz-transition: opacity 0.8s ease 1s;
  -webkit-transition: opacity 0.8s ease 1s;
  -o-transition: opacity 0.8s ease 1s;
}

.SlideInner:hover {
  opacity: 1;
  transition: opacity 1s ease 0.2s;
  -moz-transition: opacity 1s ease 0.2s;
  -webkit-transition: opacity 1s ease 0.2s;
  -o-transition: opacity 1s ease 0.2s;
}

.SlideInner .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 5;
}

.SlideInner .inner-list-warpper {
  position: relative;
  height: 100%;
  width: 990px;
  z-index: 20;
  margin: 0 auto;
  overflow: hidden;
}

.SlideInner .inner-list {
  position: relative;
  position: absolute;
  height: 100%;
  display: inline-block;
  left: 50%;
  z-index: 10;
}

.SlideInner .inner-list::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.SlideInner .inner-list > * {
  vertical-align: middle;
  display: inline-block;
}

.SlideInner .inner-item {
  position: relative;
  height: 86px;
  width: 86px;
  border: 1px solid white;
  margin: 0 2px;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
  background: black;
}

.SlideInner .inner-item::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.SlideInner .inner-item > * {
  vertical-align: middle;
  display: inline-block;
}

.SlideInner .inner-item:hover {
  opacity: 1;
}

.SlideInner .select-inner-item {
  opacity: 1;
}

.wrapper {
  text-align: center;
  position: relative;
  margin-top: 65px;
}

.col {
  display: inline-block;
  width: 260px;
  height: 100%;
  padding: 24px 10px 0;
  position: relative;
  margin: 0 -2px;
  vertical-align: top;
}

.col div.demo {
  height: 100px;
  background: gray;
  margin-bottom: 10px;
  line-height: 100px;
  font-size: 30px;
}
