.wrapper {
  //background: skyblue;
  //height: 1200px;
  text-align: center;
  position: relative;
  margin-top: $NavBarHeight;  
}

.col {
  //background: orange;
  display: inline-block;
  width: 260px;
  height: 100%;  
  padding: 24px 10px 0;  
  position: relative;
  margin: 0 -2px;
  vertical-align: top;
}

.col div.demo {
  height: 100px;
  background: gray;
  margin-bottom: 10px;  
  line-height: 100px;
  font-size: 30px;
}
