.Navbar {	
	@include setChildVa();
	position: fixed;	
	height: 65px;
	//background: orange;
	background: white;
	opacity: 1;	
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	border-bottom: 1px solid rgb(238, 238, 238);
	padding: 0 20px;
	//padding: 0 24.5px;	 
	.fa-google-plus-official {
		color: rgb(189,8,28);
		font-size: 32px;
		margin-right: 20px;
	}
	.Navbar_searchbar {
		height: 40px;
	  width: calc(100% - 48px);
	  //margin-left: 43px;
	  background: rgb(239, 239, 239);
	  border-color: rgb(239, 239, 239);
	  //margin-right: auto;
	  padding-left: 10px;
		input {
			font-size: 16px;
			padding-top: 0px;
			margin-top: 10px;			
			width: 100%;
			background: rgb(239, 239, 239);			
			font-weight: bold;
			color :rgb(85, 85, 85);
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgb(85, 85, 85);
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: rgb(85, 85, 85);
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: rgb(85, 85, 85);
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: rgb(85, 85, 85);
		}		
	}
}