@-webkit-keyframes tapAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.96);
            transform: scale(0.96); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes tapAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.96);
            transform: scale(0.96); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.Pin {
	width: 100%;
  -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
  break-inside: avoid;	

	position: relative;
	display: inline-block;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 40px;
	opacity: 1;	    
  box-sizing: border-box;
  cursor: zoom-in;

  &::before {
	  content: '';
	  display: block;
	  position: absolute;	  
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;  
	  border-radius: 6px;    	
  }

  &:hover::before {
	  background: rgba(0,0,0,0.05);  
	  -webkit-animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
	            animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
  }

  img {  	
  	width: 100%;
  	border-radius: 8px;
  }

  p {
	  font: 12px/18px Arial, sans-serif;
	  color: #333;
	  margin: 0;
	  width: 96%;
	  margin-left: 2%;
	  word-break: break-wrod;
	  font-size: 14px;
	  font-family: Helvetica Neue,Helvetica,arial,sans-serif;
	  font-weight: bold;
	  color: rgb(85,85,85);    	
  }

  .img-wrapper {
	  position: relative;
	  margin-bottom: 8px; 

	  &::before {
		  content: '';
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  width: 100%;
		  height: calc( 100% - 4px);  
		  position: absolute;
		  display: block;
		  background: transparent;
		  border-radius: 8px;	  	
	  } 

	  &:hover::before{
	  	background: rgba(0,0,0,0.1);
	  }	
  }

}