.SlideInner {
	@include setTextAutoHide();
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $SlideInnerSlideHeight;
	overflow: hidden;
	opacity: 0;	
	transition: opacity 0.8s ease 1s;
  -moz-transition: opacity 0.8s ease 1s;
  -webkit-transition: opacity 0.8s ease 1s;
  -o-transition: opacity 0.8s ease 1s;	
	&:hover {
		opacity: 1;
		transition: opacity 1s ease 0.2s;
  	-moz-transition: opacity 1s ease 0.2s;
  	-webkit-transition: opacity 1s ease 0.2s;
  	-o-transition: opacity 1s ease 0.2s;		
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(0,0,0);
		opacity: 0.5;
		z-index: 5;
	}


	.inner-list-warpper {
		position: relative;
		height: 100%;
		width: 990px;  // 11*90px		
		z-index: 20;
		margin: 0 auto;
		overflow: hidden;
	}

	.inner-list {				
		@include setChildVa();
		position: absolute;
		height: 100%;
		display: inline-block;
		//background: skyblue;
		left: 50%;
		z-index: 10;
	}

	.inner-item {
		@include setChildVa();
		height: 86px;
		width: 86px;
		border: 1px solid white;
		margin: 0 2px;
		overflow: hidden;
		opacity: 0.5;
		cursor: pointer;
		background: black;
		&:hover{
			opacity: 1;
		}
	}		
	.select-inner-item {
		opacity: 1;
	}	
}

