.Slide {
	position: fixed;
	top: $NavBarHeight;
	left: 0;
	width: 100%;
	height: calc(100% - #{$NavBarHeight});
	background: rgba(0,0,0,0.5);

	.content-wrapper {
		height: 100%;
		position: relative;
		width: calc(100% - #{$SlideMarginWidth});
		margin: 0 auto;
	}

	.main-content {		
		@include setChildVa();
		height: calc(100% - #{$SlideFooterHeight} - #{$SlideMainFooterDistance});
		position: relative;		
		width: 100%;		
		background: rgba(0,0,0,0.8);
		text-align: center;
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
		.loading-img {
			display: none;
		}

		&.loading {
			&>img:not(.loading-img) {
				display: none;
			}
			.loading-img {
				display: inline;
			}
		}
	}

	.footer-content {
		//width: calc(100% - #{$SlideMarginWidth});
		@include setChildVa();		
		padding: 0 20px;
		width: 100%;
		margin: $SlideMainFooterDistance auto 0;
		height: $SlideFooterHeight;
		background: rgb(0,0,0);
		color: white;
		text-align: center;
		.link-wrapper {
			display: inline-block;
			@include setTextAutoHide();
			//max-width: 373px;
		}
	}

	@mixin slideButton($url) {
		//width: 50px;
		//height: 100%;
		position: absolute;
		//#{$direction}: 0;
		//top: 0;
		background: $url no-repeat center center;
		opacity: 0.5;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}	
		-webkit-tap-highlight-color: transparent;	
	}

	.left-button {
		@include slideButton (url(https://i2.bahamut.com.tw/vimg_l2.gif) );
		width: 50px;
		height: 100%;
		top: 0;
		left: 0;			
	}
	.right-button {
		@include slideButton (url(https://i2.bahamut.com.tw/vimg_r2.gif) );	
		width: 50px;
		height: 100%;
		top: 0;
		right: 0;		
	}
	.close-button {
		@include slideButton (url(https://i2.bahamut.com.tw/vimg_x.gif) );			
		width: 50px;
		height: 50px;
		top: 0;
		right: 0;		
	}
	.download-btn {
		display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;  
    text-transform: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
 	  font-family: Verdana, sans-serif;
    text-decoration: none;		
		color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;	
    top: 8px;
    right: 12px;	
    position: absolute;   
    opacity: 0.5;
		z-index: 10;
    &:hover {
    	color: #fff;
    	background-color: #286090;
    	border-color: #204d74;
    	opacity: 1;
    }
	}
}


@media screen and (max-width: 900px) {
	.Slide {
		.content-wrapper {
			width: calc(100% - #{$SlideMarginWidth_900px});
		}		
		.footer-content {
			.link-wrapper {
				max-width: 373px;
			}
		}		
	}
}

@media screen and (max-width: 600px) {
	.Slide {
		.content-wrapper {
			width: calc(100% - #{$SlideMarginWidth_600px});
		}		
		.download-btn {
			display: none;
		}		
	}
}